  
@import '../variable';
/*******************
Pricing 1
*******************/
.pricing1{
    .card{
        transition: 0.1s;
        &:hover{
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
           -webkit-font-smoothing: antialiased;
            
        }
    }
    .badge{
        top: -13px;
        position: absolute;
        left: 0;
        right: 0;
        width: 100px;
        margin: 0 auto;
    }
    .title{
        margin-top:20px;
        font-weight: 500;
        margin-bottom: 5px; 
    }
    .subtitle{
        font-size: 14px;
    }
    .pricing{
        margin: 20px 0;
        sup{
            font-size: 18px;
            top:-20px;
        }
        .display-5{
            color:$dark;
        }
        .yearly{
            display: none;
        }
    }
    .list-inline{
        margin-top: 30px;
        
        li{
            padding: 8px 0;
            display: block;
        }
    }
    .bottom-btn{
        position: relative;
        bottom: 0px;
        
    }
}

/*******************
Testimonial 3
*******************/
  
  .testimonial3 {
      .testi3 {
          .card-body {
              padding: 40px;
          }
          h6 {
              line-height: 26px;
          }
          .thumb-img {
              img {
                  width: 60px;
              }
          }
          .customer {
              text-transform: uppercase;
              font-size: 14px;
              font-weight: 500;
          }
      }
  }