  @import '../variable';
/*******************
slide 3
*******************/
.slider3 {
	.video-img {
		-webkit-animation-delay: 1.3s;
		animation-delay: 1.3s;
	}
	.video-img {
		cursor:pointer;
	}
}
.slider3 {
	.bs-slider-overlay {
		background:rgba(32, 35, 43, 0.8);
	}
	.slider-control span {
		width:53px;
		height:53px;
		line-height:53px;
		text-align:center;
		border-radius:50%;
		border:1px solid $white;
	}
	label {
		line-height:27px;
		border-radius:0;
		color:$dark;
		-webkit-animation-delay: 0.5s;
		animation-delay: 0.5s;
	}
	h2 {
		line-height:42px;
		font-size:36px;
		
	}
	p {
		line-height:24px;
		font-weight:400;
	}
	i.icon-Play-Music {
		font-size:32px;
	}
}
@media (max-width: 1280px) {
	.slider3 {
		overflow-y:hidden;
		
		.slide-image {
			height:550px;
			width:auto !important;
		}

		.slider-control span {
			width:44px;
			height:44px;
			line-height:44px;
		}
	}
}
@media (max-width: 1100px) {
	.slider3 {
		h2 {
			font-size:34px;
		}
		.slide-image {
			left:-20%;
			position:relative;
		}
		.slide-text {
			width:80% !important;
		}
	}
}

@media (max-width:767px) {
	.slider3 {
		.slider-control span {
			width:34px;
			height:34px;
			line-height:34px;
		}
		.slide-text {
			padding:0 !important;
			width:80% !important;
		}
		h2 {
			font-size:28px;
			line-height:36px;
			margin-bottom:30px;
		}
		.slide-image {
			left:0;
			height:300px;
		}
		.btn {
			padding-left:15px;
			padding-right:15px;
			
			&.btn-md {
				padding-left:25px;
				padding-right:25px;
			}
		}
		.btn-pad {
			padding-right:0;
		}
	}
}
@media (max-width: 428px) {
	.slider3 {
		.slider-control span {
			width:26px;
			height:26px;
			line-height:26px;
			font-size:12px !important;
		}
		h2 {
			font-size:22px;
			line-height:30px;
			margin-bottom:20px;
		}
		i.icon-Play-Music {
			font-size:26px;
		}
		a.btn-md {
			text-align:center;
			margin-bottom:10px;
		}
		.slide-image {
			left:-75%;
			height:380px;
		}
		.btn {
			padding-left:0;
		}
		video {
			width:160%;
		}
	}
}